<div class="row">
    <!-- Post Content Column -->
    <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>
        <!-- Author -->
        <p class="lead">
            by
            <b href="">{{post.author.firstName}} {{post.author.lastName}}</b>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Fecha de creación:  {{formatDate post.date 'HH:mm:ss Do/MMMM/YYYY'}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="Image">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{post.body}}</p>

        <hr>

        <!-- Comments Form -->
        {{#if post.allowComments}}
            {{#if user}}
                <div class="card my-4">
                    <h5 class="card-header">Dejar un comentario:</h5>
                    <div class="card-body">
                        <form action="/admin/comments/" method="post">
                            <div class="form-group">
                                <textarea name = "body" class="form-control" rows="3"></textarea>
                                <input type="hidden" name="postId" value="{{post.id}}">
                            </div>
                            <button type="submit" class="btn btn-primary">Comentar</button>
                        </form>
                    </div>
                </div>
            {{/if}}
            <!-- Single Comment -->
            {{#if post.comments}}
                {{#each post.comments}}
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">{{user.firstName}} {{user.lastName}} - {{formatDate date 'HH:mm:ss Do/MMMM/YYYY'}}</h5>
                            {{body}}
                        </div>
                    </div>
                {{/each}}
            {{/if}}
            {{else}}
            <h2>No se permiten comentarios en este post.</h2>

        {{/if}}

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Categories Widget -->
        {{> home/sidebar}}

    </div>

</div>