<div class="row">
    <div class="col-sm-8">
        <h1>Categorias</h1>
        {{#if}}
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
            {{#each categories}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td><a href="/admin/categories/{{id}}" class="btn btn-info">Editar</a></td>
                    <td>
                        <form action="/admin/categories/{{id}}?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger"> Eliminar </button>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        {{else}}
            <h2>No tiene ninguna categoría.</h2>
        {{/if}}
    </div>
    <div class="col-sm-4">
        <h1>Crear categorias</h1>
        <form action="/admin/categories/create" method="POST">
                <div class="input-group">
                    <input type="text" name="name" placeholder="Introduzca nombre de categoría" class="form-control">
                    <div class="input-group-append"><button class="btn btn-primary">Crear categoría</button></div>
                </div>
        </form>
    </div>
</div>