<h1>Todos los posts</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imagen</th>
            <th>Título</th>
            <th>Estado</th>
            <th>Categoría</th>
            <th>Permite comentarios</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr>
                <td> {{id}} </td>
                <td> <img height="100" class="img-responsive" src="/uploads/{{file}}" alt="selectedImage"> </td>
                <td> {{title}} </td>
                <td> {{status}} </td>
                <td> {{category.name}}</td>
                <td> {{allowComments}} </td>
                <td> {{formatDate date 'HH:mm:ss Do/MMMM/YYYY'}}</td>
                <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Editar</a></td>
                <td>
                    <form action="/admin/posts/{{id}}?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger"> Eliminar </button>
                    </form>
                </td>

            </tr>
        {{/each}}
    </tbody>
</table>