<h1>All posts</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Estado</th>
            <th>Permite comentarios</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr>
                <td> {{id}} </td>
                <td> {{title}} </td>
                <td> {{status}} </td>
                <td> {{allowComments}} </td>
                <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Editar</a></td>
                <td>
                    <form action="/admin/posts/{{id}}?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger"> Eliminar </button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>